<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blinky_down_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blinky_down_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blinky_left_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blinky_left_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blinky_right_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blinky_right_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blinky_up_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blinky_up_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clyde_down_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clyde_down_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clyde_left_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clyde_left_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clyde_right_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clyde_right_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clyde_up_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clyde_up_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>inkey_down_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,216},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>inkey_down_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,182},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>inkey_left_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,148},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>inkey_left_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,114},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>inkey_right_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>inkey_right_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>inkey_up_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>inkey_up_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,218},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_close_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,104},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>pac_close_36-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pac_down_middle_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,170},{28,26}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_down_open_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,138},{28,20}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,20}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>pac_left_middle_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,104},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>pac_left_open_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,230},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>pac_right_middle_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,170},{26,28}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_right_middle_36-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pac_right_open_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,200},{20,28}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_right_open_36-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pac_up_middle_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,200},{28,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_10_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,131},{12,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{12,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_2_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,104},{28,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,230},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{28,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_3_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,200},{28,14}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{28,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_4_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,230},{28,12}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{28,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_5_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,104},{24,8}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{24,8}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_6_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,104},{18,8}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{18,8}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_7_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,104},{10,6}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{10,6}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_8_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,250},{6,4}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{6,4}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pac_up_open_9_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{2,4}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{2,4}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pinky_down_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,138},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pinky_down_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,184},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pinky_left_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,150},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pinky_left_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,116},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pinky_right_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pinky_right_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pinky_up_four_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pinky_up_three_32-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSpriteSheet.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2df1d68712c6cbb243e18cabbbdb7a10:554bda8713fba5206e0f64fef880f591:46ee93eba3f57dae74a27504b854dd84$</string>
            <key>textureFileName</key>
            <string>GameSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
