<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pacClose_98-135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{98,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,135}}</string>
                <key>sourceSize</key>
                <string>{98,135}</string>
            </dict>
            <key>pacOpen_98-135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,135}}</string>
                <key>sourceSize</key>
                <string>{98,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PacsSpriteSheet.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48af724e215302f15bfe5aa3005b892a:5cbf444cbe1c6ac03d336a3d90eeb363:1d912d4f158ad7f679acd8db01f923ab$</string>
            <key>textureFileName</key>
            <string>PacsSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
