body {
    display: none;
    margin: 0;
    padding: 0;
    background: #ffffff;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: "Poiret One", cursive;
}

input {
    height: 30px;
    width: 70%;
    max-width: 400px;
    font-size: 25px;
    font-family: "Poiret One", cursive;
}

button {
    width: 100px;
    height: 50px;
    font-family: "Poiret One", cursive;
    font-size: 25px;
    margin-bottom: 10px;
}

.header {
    background-color: #006400;
    color: #ffffff;
    height: 70px;
}

.header_title {
    display: inline-block;
    max-width: 50%;
    margin-left: 15px;
    line-height: 70px;
    vertical-align: middle;
    font-size: 35px;
}

.header_title:after {
    content: "Dominó Amazonense";
}

.text {
    padding-top: 10px;
    font-size: 25px;
}

.everything {
    margin-top: 20px;
    margin-left: 15px;
}

.back_div {
    margin-top: 5px;
    margin-right: 10px;
    line-height: 70px;
    vertical-align: middle;
    float: right;
}

.back_button:after{
    content: "voltar";
}

.center {
    width: 100%;
    text-align: center;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
    width: 95%;
}

.point_one, .point_two, .point_three, .point_four, .point_five {
    margin-top: 40px;
    background-color:#006400;
    width: 5px;
    height: 5px;
    position: fixed;
}

.point_one, .point_two, .point_three, .point_four, .point_five {
    background-color: transparent;
    -webkit-animation: dots 5s;
    -moz-animation: dots 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
}

.point_one {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

.point_two {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}

.point_three {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}

.point_four {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.point_five {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}

@-webkit-keyframes dots {
    0% {left: 25%; background-color: #006400;}
    50% {left: 50%;}
    64% {background-color: #006400}
    65% {background-color: transparent}
    100% {left: 100%; background-color: transparent}
}

@-moz-keyframes dots {
    0% {left: 25%; background-color: #006400;}
    50% {left: 50%;}
    64% {background-color: #006400}
    65% {background-color: transparent}
    100% {left: 100%; background-color: transparent}
}