body {
    margin: 0;
    font-family: 'Poiret One', cursive;
}

input {
    height: 30px;
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
}

button {
    width: 100px;
    height: 50px;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
}

.top {
    background-color: #006400;
    padding: 0.5%;
    color: #ffffff;
    font-size: 2em;
}

.loginbox {
    line-height: 50px;
    width: 100%;
    padding: 0.5%;
}

.title {
    font-size: 2em;
}

.error {
    color: #FF0000;
    font-size: 1em;
}

.text {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1.5em;
}

.container {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.bottom {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #dfdfdf;
}