.loginbox {
    margin-left: 15px;
    line-height: 50px;
    padding: 0;
    width: 95%;
}

.error {
    padding-top: 10px;
    color: #FF0000;
    font-size: 18px;
}

.container {
    padding-top: 20px;
}