body {
    display: table;
}

.everything {
    margin-top: 20px;
    margin-left: 15px;
}

.room {
    margin-top: 20px;
    border: 1px solid black;
}

.room div {
    text-align: center;
    padding: 10px;
}

.room:hover {
    background-color: #F6F6F6;
}

.room:active {
    background-color: #B2D0B2;
}

ul {
    list-style: none;
    padding: 0;
    width: 95%;
}

li {
    width: 200px;
    margin-right: 15px;
    float:left;
}