<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj_b1_sprite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{600,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,10}}</string>
                <key>sourceSize</key>
                <string>{600,10}</string>
            </dict>
            <key>bj_b1_sprite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{600,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,10}}</string>
                <key>sourceSize</key>
                <string>{600,10}</string>
            </dict>
            <key>bj_b1_sprite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{600,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,10}}</string>
                <key>sourceSize</key>
                <string>{600,10}</string>
            </dict>
            <key>bj_b1_sprite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,10}}</string>
                <key>sourceSize</key>
                <string>{600,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barra_jogo_1.png</string>
            <key>size</key>
            <string>{64,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad775774449254d9abd3a0cfea470f6d:d5e2471f8801391db3c4f1b14cec2e30:7fcbed676e9e81b5541a5d906526e7a7$</string>
            <key>textureFileName</key>
            <string>barra_jogo_1.png</string>
        </dict>
    </dict>
</plist>
