<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{26,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{28,26}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{28,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{42,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{42,42}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{42,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{56,54}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{56,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{60,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,58},{60,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,58},{56,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,58},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{60,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,116},{60,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,116},{60,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,116},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explosao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,116},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosao.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a3d1f3bcb933454ab84890728f8e35a$</string>
            <key>textureFileName</key>
            <string>explosao.png</string>
        </dict>
    </dict>
</plist>
