<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8"/>
		<script type="text/javascript" src="./../phaser/phaser.min.js"></script>
		<script type="text/javascript" src="./js/config/Config.js"></script>
		<script type="text/javascript" src="./js/states/LudusSplash.js"></script>
		<script type="text/javascript" src="./js/states/GameSplash.js"></script>
		<script type="text/javascript" src="./js/states/SponsorSplash.js"></script>
		<script type="text/javascript" src="./js/states/Menu.js"></script>
		<script type="text/javascript" src="./js/states/HowToPlay.js"></script>
		<script type="text/javascript" src="./js/states/Credits.js"></script>
		<script type="text/javascript" src="./js/Main.js"></script>
		<title>Titulo</title>
		<style type="text/css">
	        body {
				text-align: center;
			}
			#game {
				display: inline-block;
			}
			#footer {
				text-align: center;
			}
		</style>
	</head>
	<body >
		<div id="game">
		</div>
		<div id="footer">
			<h3> Desenvolvedores </h3>
			<a href = "https://www.facebook.com/">Nome</a> <br>
			<br>
			<h3> Designer </h3>
			<a href = "https://www.facebook.com/">Nome</a> <br>
			<h3> Orientador </h3>
			<a href = "https://www.facebook.com/jucimar.jr?fret=ts"> Prof. Jucimar Jr. </a> 
			<br>
			<br> 
		</div>
	</body>
</html>
