<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="user-scalable=no,width=device-width"/>
		<meta property="og:title" content="Template" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="LUDUS - Laboratório de Jogos e Entretenimento Digital da UEA"/>
		<meta property="og:url" content="http://computacao.uea.edu.br/ludus/games/html5games/phaser/template/" />
		<meta property="og:description" content="Texto promocional para o facebook" />
		<meta property="og:image" content="http://computacao.uea.edu.br/ludus/games/html5games/phaser/template/assets/images/GameSplash_960-600.png"/>
		<meta property="og:image:type" content="image/png"/>
		<meta property="og:image:width" content="960"/>
		<meta property="og:image:height" content="600"/>
		<script type="text/javascript" src="./../phaser/205/phaser.min.js"></script>
		<script type="text/javascript" src="./js/config/Config.js"></script>
		<script type="text/javascript" src="./js/states/LudusSplash.js"></script>
		<script type="text/javascript" src="./js/states/GameSplash.js"></script>
		<script type="text/javascript" src="./js/states/SponsorSplash.js"></script>
		<script type="text/javascript" src="./js/states/Menu.js"></script>
		<script type="text/javascript" src="./js/states/HowToPlay.js"></script>
		<script type="text/javascript" src="./js/states/Credits.js"></script>
		<script type="text/javascript" src="./js/Main.js"></script>
		<title>Titulo</title>
		<script type="text/javascript">
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=391075467572191&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<style type="text/css">
			body {
				margin: 0;
			}
			#everything {
				width: 960px;
				margin: auto;
			}
			#fb-root {
				text-align: center;
			}
		</style>
	</head>
	<body >
		<div id="everything">
			<div id="content">
				<div id="game">
				</div>
				<div id="fb-root">
					<div class="fb-like"
						data-href="http://computacao.uea.edu.br/ludus/games/html5games/phaser/template/"
						data-layout="button_count"
						data-action="like"
						data-show-faces="true"
						data-share="true">
					</div>
					<div class="fb-comments"
						data-href="http://computacao.uea.edu.br/ludus/games/html5games/phaser/template/"
						data-width="960"
						data-numposts="10"
						data-colorscheme="light">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
