<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj_b2_sprite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{600,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,10}}</string>
                <key>sourceSize</key>
                <string>{600,10}</string>
            </dict>
            <key>bj_b2_sprite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{600,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,10}}</string>
                <key>sourceSize</key>
                <string>{600,10}</string>
            </dict>
            <key>bj_b2_sprite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{600,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,10}}</string>
                <key>sourceSize</key>
                <string>{600,10}</string>
            </dict>
            <key>bj_b2_sprite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,10}}</string>
                <key>sourceSize</key>
                <string>{600,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barra_jogo_2.png</string>
            <key>size</key>
            <string>{64,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fead208ed3df7d222533f5f359c4141:2ec0f3d348d588e8db72fd516e1f9fdf:c34d9ac86be2ac325302975827da9edb$</string>
            <key>textureFileName</key>
            <string>barra_jogo_2.png</string>
        </dict>
    </dict>
</plist>
