<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnCreditsSelected_256-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,74},{256,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,34}}</string>
                <key>sourceSize</key>
                <string>{256,34}</string>
            </dict>
            <key>btnCredits_256-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,38},{256,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,34}}</string>
                <key>sourceSize</key>
                <string>{256,34}</string>
            </dict>
            <key>btnHowToPlaySelected_381-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{381,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,34}}</string>
                <key>sourceSize</key>
                <string>{381,34}</string>
            </dict>
            <key>btnHowToPlay_381-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,34}}</string>
                <key>sourceSize</key>
                <string>{381,34}</string>
            </dict>
            <key>btnPlaySelected_155-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,74},{155,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,34}}</string>
                <key>sourceSize</key>
                <string>{155,34}</string>
            </dict>
            <key>btnPlay_155-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,38},{155,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,34}}</string>
                <key>sourceSize</key>
                <string>{155,34}</string>
            </dict>
            <key>btnScoreSelected_365-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{365,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,34}}</string>
                <key>sourceSize</key>
                <string>{365,34}</string>
            </dict>
            <key>btnScore_356-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{365,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,34}}</string>
                <key>sourceSize</key>
                <string>{365,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ButtonsSpriteSheet.png</string>
            <key>size</key>
            <string>{784,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1597b0f7d6f59d5a451582bb628bfc45:0cc746b1a75d56b8ded282e90ea6b7c3:9aa8fec32b0d5f5691387a921d615d0a$</string>
            <key>textureFileName</key>
            <string>ButtonsSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
