<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1-117-119.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>asteroid1_117-119.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>asteroid1_24-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,256},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>asteroid1_59-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>asteroid2_118-118.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,121},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>asteroid2_24-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,288},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>asteroid2_59-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>asteroid3_118-119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>asteroid3_24-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,288},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>asteroid3_59-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,304},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>particle_1-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{1,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,15}}</string>
                <key>sourceSize</key>
                <string>{1,15}</string>
            </dict>
            <key>shipFire_22-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,265},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>shipFire_65-111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{65,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,111}}</string>
                <key>sourceSize</key>
                <string>{65,111}</string>
            </dict>
            <key>ship_22-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,241},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>ship_65-102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{65,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,102}}</string>
                <key>sourceSize</key>
                <string>{65,102}</string>
            </dict>
            <key>shoot_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ufo_96-61.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,241},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSpriteSheet.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e9f890b562a244bb4dfb31f60169161:788b4a894c53e05054e8b51d253a66d0:46ee93eba3f57dae74a27504b854dd84$</string>
            <key>textureFileName</key>
            <string>GameSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
