<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title1_532-111.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{523,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,111}}</string>
                <key>sourceSize</key>
                <string>{523,111}</string>
            </dict>
            <key>title2_532-111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{523,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,111}}</string>
                <key>sourceSize</key>
                <string>{523,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TitlesSpriteSheet.png</string>
            <key>size</key>
            <string>{1052,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac25a885acdbcbdf77ed71f965b8d638:58958db985f345237ba75efa5c1bfbbb:e38b9730d399205b46f83619832ca877$</string>
            <key>textureFileName</key>
            <string>TitlesSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
