<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>azul1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,12}}</string>
                <key>sourceSize</key>
                <string>{720,12}</string>
            </dict>
            <key>azul2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{720,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,12}}</string>
                <key>sourceSize</key>
                <string>{720,12}</string>
            </dict>
            <key>azul3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{720,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,12}}</string>
                <key>sourceSize</key>
                <string>{720,12}</string>
            </dict>
            <key>azul4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{720,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,12}}</string>
                <key>sourceSize</key>
                <string>{720,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barra_azul.png</string>
            <key>size</key>
            <string>{1024,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b46bb9ed9e96e10a379a285748e24958:652ae69381457a7af6802a48fc5e4b87:4be7ef589c25cfab04acdfc333286923$</string>
            <key>textureFileName</key>
            <string>barra_azul.png</string>
        </dict>
    </dict>
</plist>
