<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vermelha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,108}}</string>
                <key>sourceSize</key>
                <string>{18,108}</string>
            </dict>
            <key>vermelha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{18,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,108}}</string>
                <key>sourceSize</key>
                <string>{18,108}</string>
            </dict>
            <key>vermelha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{18,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,108}}</string>
                <key>sourceSize</key>
                <string>{18,108}</string>
            </dict>
            <key>vermelha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{18,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,108}}</string>
                <key>sourceSize</key>
                <string>{18,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barra_vermelha.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c62a0e2737e2df77c6ad04ddfdf7dcf:9a8e6980c8ae08f3c29031deccb0b9af:20b5671cc7cdca48b9a7ec4713e1c4fb$</string>
            <key>textureFileName</key>
            <string>barra_vermelha.png</string>
        </dict>
    </dict>
</plist>
