<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>verde1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,108}}</string>
                <key>sourceSize</key>
                <string>{18,108}</string>
            </dict>
            <key>verde2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{18,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,108}}</string>
                <key>sourceSize</key>
                <string>{18,108}</string>
            </dict>
            <key>verde3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{18,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,108}}</string>
                <key>sourceSize</key>
                <string>{18,108}</string>
            </dict>
            <key>verde4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{18,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,108}}</string>
                <key>sourceSize</key>
                <string>{18,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barra_verde.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e6f9f620e551b8af304684647c7f65c:14c310afabbeb695d97e2f3ade0221aa:d1c7c88f4f6c472ead1d29dfe369ba01$</string>
            <key>textureFileName</key>
            <string>barra_verde.png</string>
        </dict>
    </dict>
</plist>
