<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_Player.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{214,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,33}}</string>
                <key>sourceSize</key>
                <string>{214,33}</string>
            </dict>
            <key>2_Player_Selecionado.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,33}}</string>
                <key>sourceSize</key>
                <string>{214,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2_Player_Sprite.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:293994b15656fd77a2687cb5bb74f845:cc5d29501d58d6bba599bdf8c7de1891:2811cc2b3f43cd5f63d2d8e02e7729e9$</string>
            <key>textureFileName</key>
            <string>2_Player_Sprite.png</string>
        </dict>
    </dict>
</plist>
