<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>49847_27284_Sound_128x128_sound_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sound_selecionado.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{116,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Som.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48fbe4fc007a6a0b96fd7acfa3ce462e:77fa1e41e671482ac34c0ec352fb08d4:6b110731f7986e2b5a1c0de1f7063a49$</string>
            <key>textureFileName</key>
            <string>Som.png</string>
        </dict>
    </dict>
</plist>
