<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>explosao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,8},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>explosao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,8},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>explosao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,8},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>explosao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,85},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>explosao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,85},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>explosao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,85},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>explosao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,154},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>explosao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,154},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosao1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d25d948514280cfba1fd0790308e31c0$</string>
            <key>textureFileName</key>
            <string>explosao1.png</string>
        </dict>
    </dict>
</plist>
